# Log files
error_log
*.log

# Sensitive configurations (secrets)
wp-config.php
wp-salt.php

# OS files
.DS_Store
Thumbs.db

# CloudMounter/FTP temporary files
.ftpquota
.tmb/
.well-known/

# Ignore all WordPress directories and core files starting with wp-
wp-*
wp-*/

# Ignore WordPress index files
index.php
index.php.bak

# Ignore other WordPress core files and readmes
xmlrpc.php
license.txt
readme.html

# Ignore GoDaddy WordPress backup connectors
bv_connector_*.php
